<div class="wrapper">
	<!-- Page Content Holder -->
    <div id="content">
        <!-- Header -->
        <app-header></app-header>
        <div class="bat-wrapper">
            <label class=" en" (click)="english()">English</label>
            <label class=" sp" (click)="spanish()">Spanish</label>
        </div>

        <!-- content for contact page -->
        
        <div class="content1">
	    	<div class="container acerca">
	    		<div class="col-xs-12 col-md-6">
	    			<div class="screen-2" [innerHTML] = "contact"></div>
	    		</div>

                <!-- Contact Form -->

	    		<div class="col-xs-12 col-md-6 text-right right-img-contact">
                    <form class="form-horizontal"
                   #contactForm = "ngForm" (ngSubmit) = "contactus(contactForm.value);contactForm.reset()" ngNativeValidate>
                       <div class="form-group">
                           <input type="text" name="name" placeholder="._nombre" class="form-control" ngModel required>
                       </div>
                       <div class="form-group">
                           <input type="email" name="email" placeholder="._correo" class="form-control" ngModel required>
                       </div>
                       <div class="form-group">
                           <textarea name="message" class="form-control" rows="8" ngModel required></textarea>
                       </div>
                       <div class="form-group">
                           <button class="submit" class="btn">enviar</button>
                       </div>
                   </form>
	    		</div>
	    	</div>
	    </div>

        <!-- Footer Area -->

	    <footer>
            <img src="../assets/images/footer-1.png">
        </footer>
    </div>
    <img class="header-img" src="../assets/images/menu-4.png">
    <video autoplay muted loop id="myVideo">
      <source src="./assets/video/video.mp4" type="video/mp4">
    </video>

    <app-sidebar class="sidebar-wrapper"></app-sidebar>
</div>