.wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
}
#content {
    padding: 20px 20px 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
.header-img {
	height: 30px;
    position: fixed;
    top: 49px;
    right: 101px;
}
.content1 {
    margin: 150px 0;  
}
.content1 p {
    font-size: 16px;
    color: #666;
    line-height: 25px;
}
/*============================Video=========================================*/
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
    /*==================Label===========================*/
.bat-wrapper {
    font-size: 23px;
    font-weight: 600;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    position: fixed;
    right: -69px;
    top: 357px;
}
.bat-wrapper label {
    font-size: 23px;
    font-weight: 600;
    padding: 0px 5px;
    cursor: pointer;
}

footer {
    text-align: center;
}
.count .acerca, .count footer {
    display: none;
}
.content1 .right-img-contact img {
    width: auto;
    position: 
} 
.menu-wrapper .sidebar-wrapper {
    width: 100%;
}
#content.count {
    /*width: auto;*/
    display: none;
}
/*========================Contact Form===============================
*/
.right-img-contact form input.form-control{
   background: #000;
   border: 4px solid #fff;
   height: auto;
   padding: 9px 16px;
}
.right-img-contact form textarea{
   resize: none;
}
.right-img-contact form button{
   float: left;
   color: #fff;
   background-color: #000;
   border: 3px solid #fff;
   width: 200px;
}

@media (min-width: 1600px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
@media (min-width: 1080px) { 
    footer ul {
        padding: 0;
        margin: -248px 0 0 0;
    }
}
@media (max-width: 992px) {
    .content1 img {
        width: auto;
        max-width: 100%;
    }
    .right-img-contact {
        text-align: center;
        height: auto;
        padding-top: 30px;
    }
    footer {
        text-align: center;
        padding: 20px 20px 0 20px;
    }
    footer img {
        max-width: 100%;
        width: auto;
    }
}
@media (max-width: 768px) {
    .header-img {
        position: absolute;
        right: 0;
        margin: auto;
        left: 0;
        top: 80px;
    }
    .content1 {
        margin: 70px 0;
    }
}