<div class="wrapper screen2-wrapper">
    <div id="content" class="alter">
        <div class="chat">
            <label> //chat</label>
        </div>
        <!-- <div class="bat-wrapper">
            <label class=" en" class="english">English</label>
            <label class=" sp" class="spanish">Spanish</label>
        </div> --> 
        <div class="contact-wrapper-2">
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li >1</li>
                        <li >1</li>
                        <li>0</li>
                        <li>0</li>
                        <li>1</li>
                    </ul>
                </div>
    </div>

    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="nav navbar-nav navbar-right">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" >
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
        <ul class="list-unstyled components main-navigation">
            <li class="active">
                <a  class="nav-link" routerLink='/about' [routerLinkActive]="['active']">
                    <img src="../assets/images/menu-1.png"></a>
            </li>
            <li>
                <a routerLink='/services'  [routerLinkActive]="['active']"><img src="../assets/images/menu-2.png"></a>
            </li>
            <li>
                <a routerLink='/consultancy' [routerLinkActive]="['active']"><img src="../assets/images/menu-3.png"></a>
            </li>
            <li>
                <a routerLink='/contact' [routerLinkActive]="['active']"><img src="../assets/images/menu-4.png"></a>
            </li>
        </ul>
    </nav>
     <video autoplay muted loop id="myVideo">
        <source src="./assets/video/video.mp4" type="video/mp4">
    </video>
</div>