<!-- <==============================================SERVICE PAGE=============================================> -->

<div class="wrapper shapes-wrapper">
    <div class="shapes-right-wrapper"></div>
	<!-- Page Content Holder -->
    <div id="content">
        <app-header></app-header>
        <div class="bat-wrapper">
            <label class=" en" (click)="english()">English</label>
            <label class=" sp" (click)="spanish()">Spanish</label>
        </div>
        <div class="content1 clar">
        	<div class="col-md-2 footer ">
	    		<ul class="footer-left">
	    			<li>
	    				<img src="../assets/images/services.png">
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="col-xs-12 col-md-4 acerca">
	    		<p>{{para}}</p>	
	    	</div>
    		<div class="col-xs-12 col-md-4 text-right right-img-section acerca">
    			<img src="../assets/images/image1.png">
    		</div>
    		<div class="col-md-2 text-right footer ">
	    		<ul class="footer-right">
	    			<li>
	    				<a routerLink="/service1">
	    					<img src="../assets/images/sidefooter.png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service2">
	    					<img src="../assets/images/sidefooter-(1).png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service3">
	    					<img src="../assets/images/sidefooter-(2).png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service4">
	    					<img src="../assets/images/sidefooter(5).png">
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div>
	    <div class="mobile-footer">
	    	<ul class="footer-right">
    			<li>
    				<img src="../assets/images/services.png">
    			</li>
    			<li>
    				<a routerLink="/service1">
    					<img src="../assets/images/sidefooter.png">
    				</a>
    			</li>
    			<li>
    				<a routerLink="/service2">
    					<img src="../assets/images/sidefooter-(1).png">
    				</a>
    			</li>
    			<li>
    				<a routerLink="/service3">
    					<img src="../assets/images/sidefooter-(2).png">
    				</a>
    			</li>
    			<li>
    				<a routerLink="/service4">
    					<img src="../assets/images/sidefooter-(3).png">
    				</a>
    			</li>
    		</ul>
	    </div>
    </div>
    <img class="header-img" src="../assets/images/menu-2.png">
     <video autoplay muted loop id="myVideo">
        <source src="./assets/video/video.mp4" type="video/mp4">
    </video>

    <app-sidebar class="sidebar-wrapper"></app-sidebar>
</div>