<div class="wrapper shapes-wrapper">
<div class="shapes-right-wrapper"></div>
    <div id="content">
    	<!--Page Header -->
        <app-header></app-header>
        <div class="bat-wrapper">
            <label class=" en" (click)="english()">English</label>
            <label class=" sp" (click)="spanish()">Spanish</label>
        </div>
        <div class="content1">
        	<div class="col-xs-2 footer">
	    		<ul class="footer-left">
	    			<li>
	    				<a routerLink="/services">
	    					<img src="../assets/images/service1.png">
	    				</a>
	    			</li>
	    			<li>
	    				<img src="../assets/images/services-1.png">
	    			</li>
	    		</ul>
	    	</div>
	    	<!--Page Content Holder-->
    		<div class="col-xs-12 col-md-4 acerca">
    			<p>{{para1}}</p>	
    		</div>
    		<!-- Other services links -->
    		<div class="col-xs-12 col-md-4 acerca text-center right-img-section">
    			<img  src="../assets/images/service2.png">
	    	</div>
	    	<div class="col-xs-6 text-right footer">
	    		<ul class="footer-right">
	    			<li>
	    				<a routerLink="/service2">
	    					<img src="../assets/images/sidefooter-(1).png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service3">
	    					<img src="../assets/images/sidefooter-(2).png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service4">
	    					<img src="../assets/images/sidefooter(5).png">
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div>
	    <!-- Page Footer -->
	     <div class="mobile-footer">
	    	<ul class="footer-right">
    			<li>
    				<a routerLink="/services">
    					<img src="../assets/images/service1.png">
    				</a>
    			</li>
    			<li>
    				<img src="../assets/images/services-1.png">
    			</li>
    			<li>
	    				<a routerLink="/service2">
	    					<img src="../assets/images/sidefooter-(1).png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service3">
	    					<img src="../assets/images/sidefooter-(2).png">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service4">
	    					<img src="../assets/images/sidefooter-(3).png">
	    				</a>
	    			</li>
    		</ul>
	    </div>
    </div>
    <img class="header-img" src="../assets/images/menu-2.png">
    <!-- Page Video -->
     <video autoplay muted loop id="myVideo">
        <source src="./assets/video/video.mp4" type="video/mp4">
    </video>
    <!-- Page Sidebar -->
    <app-sidebar class="sidebar-wrapper"></app-sidebar>
</div>