.wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
}
#content {
    padding: 20px 20px 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
.header-img {
    height: 30px;
    position: fixed;
    top: 49px;
    right: 101px;
}
.content1 {
    margin: 150px 0;  
}
.content1 p {
    font-size: 16px;
    color: #666;
    line-height: 25px;
}
.right-img-section {
    height: 300px;
}
.count .acerca {
    display: none;
}
/* ---------------------------------------------------
    Video
----------------------------------------------------- */
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
.footer ul {
    padding: 0;
    margin: 0;
}
.mobile-footer {
    display: none;
    text-align: left;
}
.footer li {
    display: inline-block;
    vertical-align: bottom;
}  
.count footer {
    display: none;
}
.footer-left {
    position: fixed;
    bottom: 0;
    left: 60px;
}
.mobile-footer .footer-right li {
    display: inline-block;
}
.footer-right {
    position: fixed;
    bottom: 0;
    right: 60px;
    z-index:99;
}
.content1 img {
    top: 0;
    transform: none;
}
.clar:after {
    display: block;clear: both;content: "";
}
#content .mobile-footer .footer-right {
    padding: 0;
    margin: 0;
    position: sticky;
}
.menu-wrapper .sidebar-wrapper {
    width: 100%;
}
#content.count {
    /*width: auto;*/
    display: none;
}
/* ---------------------------------------------------
    Language labels
----------------------------------------------------- */    
.bat-wrapper {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    position: fixed;
    right: -59px;
    bottom: 77px;
}
.bat-wrapper label {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 5px;
    cursor: pointer;
}
.screen-2 a, .screen-2 b {
    color: #fff !important;
}
img {
    width: auto;
    max-width: 100%;
}
/* ---------------------------------------------------
    Shapes-wrapper
----------------------------------------------------- */
.shapes-wrapper {
    position: relative;
    height: 100vh;
}
.shapes-right-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
}
.shapes-wrapper:after, .shapes-wrapper:before {
    content: "";
    border-left: 295vh solid transparent;
    border-right: 42px solid transparent;
    border-bottom: 147px solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.shapes-wrapper:before {
    border-bottom: 147px solid #b7b6b6;
    bottom: 1px;
}
.shapes-right-wrapper:after, .shapes-right-wrapper:before {
    content: "";
    border-top: 100vh solid transparent;
    border-right: 119px solid #000;
    border-bottom: 96px solid transparent;
    position: absolute;
    bottom: 0;
    right: -15px;
    bottom: 0;
    z-index: 1;
}
.shapes-right-wrapper:before {
    border-right: 120px solid #b7b6b6;
    right: -14px
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width:2560px) {
    .shapes-wrapper:after {
        border-bottom: 162px solid #000;
    }
    .shapes-wrapper:before {
        border-bottom: 162px solid #b7b6b6;
    }
}
@media (max-width:1920px) {
    .shapes-wrapper:after {
        border-bottom: 183px solid #000;
    }
    .shapes-wrapper:before {
         border-bottom: 183px solid #b7b6b6;
    }
}
@media (max-width:1680px) {
    .shapes-wrapper:before {
        border-bottom: 184px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 184px solid #000;
    }
}
@media (max-width:1600px) {
    .shapes-wrapper:before {
        border-bottom: 167px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 167px solid #000;
    }
}
@media (max-width:1536px) { 
    .shapes-wrapper:before {
        border-bottom: 169px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 169px solid #000;
    }
}
@media (max-width:1535px) { 
    .shapes-wrapper:before {
        border-bottom: 150px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 150px solid #000;
    }
}
@media (max-width:1440px) { 
    .shapes-wrapper:before {
        border-bottom: 193px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 193px solid #000;
    }
}
@media (max-width:1360px) { 
    .shapes-wrapper:before {
        border-bottom: 175px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 175px solid #000;
    }
}
@media (max-width:1280px) { 
    .shapes-wrapper:before {
        border-bottom: 183px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 183px solid #000;
    }
}

@media only screen and (max-width: 1200px) {    
    #myVideo {
      width: auto;
          height: 100%;
    }
    .shapes-right-wrapper:after, .shapes-right-wrapper:before {
        border-bottom: 82px solid transparent;
    }
}
@media only screen and (max-width: 1152px) {
    .shapes-right-wrapper:after, .shapes-right-wrapper:before {
        border-bottom: 60px solid transparent;
    }
}
@media only screen and (max-width: 1024px) {
    .shapes-right-wrapper:after, .shapes-right-wrapper:before {
        border-bottom: 52px solid transparent;
    }
}

@media (max-width: 992px) {
    .content1 img {
        width: auto;
        max-width: 100%;
    }
    .right-img-section {
        text-align: center;
        height: auto;
    }
    .footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
    .shapes-right-wrapper:after, .shapes-right-wrapper:before, .shapes-wrapper:after, .shapes-wrapper:before {
        display: none;
    }
}
@media (max-width: 768px) {
    .header-img {
        position: absolute;
        right: 0;
        margin: auto;
        left: 0;
        top: 80px;
    }
    .content1 .container {
        width: 100%;
    }
    .content1 {
        margin: 70px 0;
    }
}