<!-- <==============================================SERVICE PAGE=============================================> -->

<div class="wrapper">
	<!-- Page Content Holder -->
    <div id="content">
        <app-header></app-header>
        <div class="bat-wrapper">
            <label class=" en" (click)="english()">English</label>
            <label class=" sp" (click)="spanish()">Spanish</label>
        </div>
        <div class="content1">
	    	<div class="container acerca">
	    		<div class="col-xs-12 col-md-6">
	    			<p>{{para}}</p>	
	    		</div>
	    		<div class="col-xs-12 col-md-6 text-right right-img-section">
	    			<img src="../assets/images/image1.png">
	    		</div>
	    	</div>
	    </div>
	    <footer>
	    	<div class="col-xs-6">
	    		<ul>
	    			<li>
	    				<img src="../assets/images/services.jpg">
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="col-xs-6 text-right">
	    		<ul>
	    			<li>
	    				<a routerLink="/service1">
	    					<img src="../assets/images/sidefooter.jpg">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service2">
	    					<img src="../assets/images/sidefooter-(1).jpg">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service3">
	    					<img src="../assets/images/sidefooter-(2).jpg">
	    				</a>
	    			</li>
	    			<li>
	    				<a routerLink="/service4">
	    					<img src="../assets/images/sidefooter-(3).jpg">
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    </footer>
    </div>
    <img class="header-img" src="../assets/images/menu-2.png">


    <app-sidebar class="sidebar-wrapper"></app-sidebar>
</div>