       
<!-- //////////////////////////////HOME SCREEN////////////////////////////////////////////////////// -->


        <div class="wrapper shapes-wrapper">
            <div class="shapes-right-wrapper"></div>
            <!-- Page Content Holder -->
            <div id="content">

               
                  <app-header></app-header>
                

                  <div class="contact-wrapper">
                    <img src="../assets/images/01-Puntos-Apagados.gif">
                </div>
                <!-- Footer section -->
                <footer>
                    <img src="../assets/images/footer.png">
                </footer>
                <video autoplay muted loop id="myVideo">
                    <source src="./assets/video/video.mp4" type="video/mp4">
                </video>
            </div>
            <app-sidebar class="sidebar-wrapper"></app-sidebar>

        </div>
