       
<!-- //////////////////////////////HOME SCREEN////////////////////////////////////////////////////// -->


        <div class="wrapper">
            <!-- Page Content Holder -->
            <div id="content">

               
                <app-header></app-header>
                

                <div class="contact-wrapper">
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                        <li class="cl"></li>
                        <li></li>
                        <li></li>
                        <li class="cl"></li>
                    </ul>
                </div>
                <!-- Footer section -->
                <footer>
                    <img src="../assets/images/footer.png">
                </footer>
                <video autoplay muted loop id="myVideo">
                    <source src="./assets/video/video.mp4" type="video/mp4">
                </video>
            </div>
            <app-sidebar class="sidebar-wrapper"></app-sidebar>
        </div>
