/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
img {
    width: auto;
    max-width: 100%;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    border: none;
    border-radius: 0;
    background: transparent;
}

.navbar-btn {
   -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none;
    position: fixed;
    right: 30px;
    top: 33px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.btn-info, .btn-info:active:hover, .btn-info:active:hover {
    background: transparent;
}
.btn-info span {
    padding: 6px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
}
.btn-info span:nth-child(2) {
    padding: 5px;
    border-radius: 0;
    height: 40px;
    margin-left: 9px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 400px;
    max-width: 400px;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -400px;
}


#sidebar li {
    padding: 10px 0;
}
#sidebar ul {
    margin-top: 160px;
    margin-right: 45px;
}
#sidebar ul li a {
    padding: 10px;
    display: block;
}
#sidebar ul li a:hover {
    background: transparent;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: transparent;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px 20px 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
.wrapper {
    overflow: hidden;
}

.chat {
    font-size: 23px;
    font-weight: 600;
    transform: rotate(-90deg);
    display: inline-block;
    position: fixed;
    right: -9px;
    top: 204px;
}




/*contact-wrapper*/
.contact-wrapper ul {
    margin: 0;
}
.contact-wrapper li {
    width: 7px;
    height: 7px;
    background: #fff;
    display: inline-block;
    margin: 0 20px 20px 0;
}
.contact-wrapper li:last-child{
    margin: 0 0 20px 0;
}
.contact-wrapper li.cl{
    border-radius: 50%;
}
.contact-wrapper, .contact-wrapper-2 {
    width: 850px;
    margin: 90px auto 0;
}
.count .contact-wrapper, .contact-wrapper-2 {
    display: none;
}
#content.count{
    /*width: auto;*/
    display: none;
}
.count .contact-wrapper {
    display: none;
}
.count footer {
    display: none;
}
.menu-wrapper .sidebar-wrapper {
    width: 100%;
}


footer {
    text-align: center;
    margin-top:140px;
    position: relative;
    z-index: 999999;
}



#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
/* ---------------------------------------------------
    Shapes-wrapper
----------------------------------------------------- */
.shapes-wrapper {
    position: relative;
    height: 100vh;
}
.shapes-right-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
}
.shapes-wrapper:after, .shapes-wrapper:before {
    content: "";
    border-left: 295vh solid transparent;
    border-right: 42px solid transparent;
    border-bottom: 147px solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.shapes-wrapper:before {
    border-bottom: 147px solid #b7b6b6;
    bottom: 1px;
}
.shapes-right-wrapper:after, .shapes-right-wrapper:before {
    content: "";
    border-top: 100vh solid transparent;
    border-right: 119px solid #000;
    border-bottom: 96px solid transparent;
    position: absolute;
    bottom: 0;
    right: -15px;
    bottom: 0;
    z-index: 1;
}
.shapes-right-wrapper:before {
    border-right: 120px solid #b7b6b6;
    right: -14px
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width:2560px) {
    .shapes-wrapper:after {
        border-bottom: 162px solid #000;
    }
    .shapes-wrapper:before {
        border-bottom: 162px solid #b7b6b6;
    }
}
@media (max-width:1920px) {
    .shapes-wrapper:after {
        border-bottom: 183px solid #000;
    }
    .shapes-wrapper:before {
         border-bottom: 183px solid #b7b6b6;
    }
}
@media (max-width:1680px) {
    .shapes-wrapper:before {
        border-bottom: 184px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 184px solid #000;
    }
}

@media (min-width:1600px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width:1600px) {
    .shapes-wrapper:before {
        border-bottom: 167px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 167px solid #000;
    }
}
@media (max-width:1536px) { 
    .shapes-wrapper:before {
        border-bottom: 169px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 169px solid #000;
    }
}
@media (max-width:1535px) { 
    .shapes-wrapper:before {
        border-bottom: 150px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 150px solid #000;
    }
}
@media (max-width:1440px) { 
    .shapes-wrapper:before {
        border-bottom: 193px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 193px solid #000;
    }
}
@media (max-width:1360px) { 
    .shapes-wrapper:before {
        border-bottom: 175px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 175px solid #000;
    }
    footer {
        margin-top: 59px;
    }
}
@media (max-width:1280px) { 
    .shapes-wrapper:before {
        border-bottom: 183px solid #b7b6b6;
    }
    .shapes-wrapper:after {
        border-bottom: 183px solid #000;
    }
}
@media only screen and (max-width: 1200px) {    
    #myVideo {
      width: auto;
    height: 100%;
    }
    footer {
        position: fixed;
    left: 20px;
    right: 20px;
    margin: auto;
    bottom: 0;
    }
    .shapes-right-wrapper:after, .shapes-right-wrapper:before {
        border-bottom: 82px solid transparent;
    }
}
@media only screen and (max-width: 1152px) {
    .shapes-right-wrapper:after, .shapes-right-wrapper:before {
        border-bottom: 60px solid transparent;
    }
}
@media only screen and (max-width: 1024px) {
    .shapes-right-wrapper:after, .shapes-right-wrapper:before {
        border-bottom: 52px solid transparent;
    }
}
@media (max-width: 992px) {
    .contact-wrapper{
          width: 544px;
    }
    .contact-wrapper ul {
        padding: 0;
    }
    .contact-wrapper li {
        margin: 0 10px 10px 0;
    }
    .contact-wrapper li:last-child {
        margin: 0 0 10px 0;
    }
    .shapes-right-wrapper:after, .shapes-right-wrapper:before, .shapes-wrapper:after, .shapes-wrapper:before {
        display: none;
    }
}

@media (max-width: 600px) {
    .contact-wrapper {
        width: 388px;
    }
    .contact-wrapper li {
        margin: 0 4px 4px 0;
    }
    .contact-wrapper li:last-child {
        margin: 0 0 4px 0;
    }
}
@media (max-width: 600px) {
    .contact-wrapper {
        width: 282px;
        margin: 53px auto 0;
    }
    .contact-wrapper li {
        margin: 0 2px 2px 0;
        width: 5px;
        height: 5px;
    }
    .contact-wrapper li:last-child {
        margin: 0 0 2px 0;
    }

}
